<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aenadon.wienerlinienalarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WienerLinienAlarm"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- TODO create ACTION_VIEW activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AlarmSetterActivity"
            android:label="@string/activity_alarm_setter"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.StationPickerActivity"
            android:label="@string/choose_station"
            android:parentActivityName=".activities.DialogEditActivity"/>

        <activity
            android:name=".activities.SteigPickerActivity"
            android:label="@string/choose_steig"
            android:parentActivityName=".activities.StationPickerActivity"/>

        <activity
            android:name=".activities.DialogEditActivity"
            android:label="@string/alarm_settings"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".activities.OpenSourceLicensesActivity"
            android:label="@string/open_source_licenses_title"
            android:parentActivityName=".activities.MainActivity" />

        <receiver
            android:name=".schedule.BootRescheduler"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".realtime.RealtimeNotificationService" />
    </application>

</manifest>